body {
  background-color: bisque;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
section p {
  margin: auto 500px;
}
ul{
    list-style-position: inside;
}
